* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.head_block {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;

}

.description{
    border: 1px solid;
    border-color: black;
    font-size: 46px;
    text-align: center;   
    animation: example 5s infinite alternate;
}

@keyframes example {
    0%   {color: red;}
    20%  {color: green;}
    40%  {color: blue;}
    60%  {color: blueviolet;}
    80%  {color: orange;}
    100% {color: aquamarine;}
}

.hex_text {
    margin-top: 30px;
    
}

button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(59, 70, 223);
    color: lightgray;
    cursor: pointer;
}

